#my-ndn-player {
	float: left;
	width: 100%;
	margin-top:4%;
	margin-bottom:-1%;
}

@media screen and (min-width: 400px) {
	#my-ndn-player {
		height: 216px;
	}
}

@media screen and (min-width: 480px) {
	#my-ndn-player {
		height: 259px;
	}
}

@media screen and (min-width: 767px) {
	#my-ndn-player {
		height: 500px;
	}
}

@media screen and (max-width:320px)
{#my-ndn-player {height:216px;}}