body p {color:black;
		font-size:18px;
		line-height:130%;
		font-weight:300;}
    
* {
  margin: 0;
  padding: 0;
}


body {max-width:1200px;
		margin-right:auto;
		margin-left:auto;
		overflow-x:hidden;}
		
.container-fluid {padding-left:3%;
		padding-right:3%;}
		
.advert {margin-left:auto;
			margin-right:auto;
			text-align:center;
			display:block;}

body a {font-weight:600;
		color:#4C7DAE;}

header ul {margin-left:auto;
			margin-right:auto;}

header li a {color:#808080;
				font-weight:400;
				font-family:'Georgia';
				font-size:16;}

section {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

h1 {text-align:center;
	font-weight:500;
	font-family: "Arial";
	font-size:6em;
	line-height:90%;
	margin-top:1%;}
	
@media screen and (min-width:331px) and (max-width:410px)
{h1 {font-size:3.5em;}}

@media screen and (max-width:330px)
{h1 {font-size:2.5em;}}

footer p {font-size:14px;}

#deck {font-family:"Arial";
		font-size:1.3em;}

#dropdown {font-family:"Arial";}

.fb-comments, .fb-comments > span[style], .fb_iframe_widget iframe[style] { width: 100% !important; }

.social {margin-left:auto;
				margin-right:auto;
				text-align:center;
				margin-bottom:5%;}

.social img {display:inline;
				width:50px;}

#credits h3 {font-family:"Museo-Sans-Condensed";
			border-top:1px solid black;}

#credits {margin-bottom:3%;}

#data-table-container .number {width:5%;}
	#data-table-container .date {width:10%;}
	#data-table-container .opponent {width:10%;}
	#data-table-container .pitcher {width:10%;}
	#data-table-container .ballpark {width:10%;}
	#data-table-container .inning {width:5%;}
	#data-table-container .men {width:10%;}
	#data-table-container .count {width:10%;}
	#data-table-container .field {width:10%;}
	#data-table-container .distance {width:10%;}
	#data-table-container .speed {width:10%;}
	#data-table-container .video {width:10%;}


#data-table-container {font-size:1.1em;
						color:black;}

@media screen and (max-width:700px)
{#data-table-container {font-size:1em;
						color:black;}}

@media screen and (max-width:700px)
{#data-table-container .date {width:30%;}
	#data-table-container .distance {width:30%;}
	#data-table-container .video {width:40%;}}

.dataTables_length {
	width: 40%;
	float: left;
}

@media screen and (max-width:815px)
{.dataTables_length {width:50%;}}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

@media screen and (max-width:500px)
{.dataTables_filter, .dataTables_length, .dataTables_info, .dataTables_paginate {display:none;}}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	float: right;
	text-align: right;
	margin-top:0%;
}

#megaboard {margin-top:6%;
			clear:both;
			margin-bottom:15%;}

@media screen and (max-width:700px)
{#megaboard {margin-bottom:25%;}}

#credits h3 {text-transform:uppercase;}

#credits p {font-family:"Museo-Sans-Condensed";}

#kicker h2 {text-align:center;
			font-family:"Museo-Sans-Condensed";
			text-transform:uppercase;
			font-size:2.5em;}

#kicker h1 {font-family:"Museo-Sans-Condensed";}

#search p {font-family:"Museo-Sans-Condensed";
			text-align:center;
			margin-bottom:3%;}




